.blogPage {
    align-items: flex-start;
    
    span {
        @include fontStyle(1rem, $tertiary, 700);
        font-style: italic;
    }

    aside::before {
        content: '';
        display: block;
        padding-top: 120%;
    }

    aside {
        background-color: $secondary;
        padding: 20px;
        margin-top: 80px;
        position: relative;
        
        .imgContainer {
            position: absolute;
            top: -10px;
            right: 10px;
            width: 140%;
        }
    }

    h3 {
        @include fontStyle(1.6rem, $primary, 700);
        letter-spacing: 1px;
        text-transform: capitalize;
    }
    
    li { 
        padding-left: 8px; 
        line-height: 1.6rem;
    }
    
    li::before {
        content: "•";
        padding-right: 15px;
        color: $accent2;
    }

    .blogContent {
        width: 62%;
        position: relative;
        
        .imgContainer {
            box-shadow: -25px 25px 0 -10px $accent1;
            position: absolute;
            top: -144px;
            left: 0;
            width: 120%;
        }
    }
    
    .blogPost::before {
        content: '';
        display: block;
        padding-top: 53%;
    }
    
    .blogText {
        box-shadow: -9px 15px 0 0 $background, -15px 21px 0 0 $accent1;
        padding: 100px 30px 30px 30px;    

        p:last-child {
            padding-bottom: 0;
        }
    }

    h2 {
        @include fontStyle(2.15rem, $primary, 700);
        letter-spacing: 1.3px;
    }

    .byline {
        font-style: italic;
        padding-bottom: 2.5rem;
        color: $tertiary;
    }

    p {
        padding-bottom: 0.9rem;
    }

    .commentContainer {
        padding-left: 30px;
        padding-top: 30px;
    }

    .blogComment {
        display: flex;

        img {
            width: 10%;
            height: 100%;
            padding-top: 0.3rem; /* I wanted the top of the image to line up perfectly with the top of the date text next to it. This padding is to account for the line-height of the h4 next to the image so if the font size of the h4 changes, so will the padding */
        }

        .text {
            width: 85%;
            padding-left: 20px;
            flex-grow: 1;
        }

        h4 {
            @include fontStyle(1rem, $tertiary, 700);
            line-height: 1.6rem;
            padding: 0;
            margin: 0;
        }
    }

    .submitComment {
        padding: 60px 0 80px 0;

        input, textarea {
            background-color: $background;
        }

        button {
            text-transform: capitalize;
        }
    }
}

@media (max-width: 1150px) {
    .blogPage {

        .blogContent {
            width: 100%;
            
            .imgContainer {
                position: relative;
                width: 100%;
                top: 6px;
            }
        }

        .blogText {
            padding-top: 80px;
        }

        .blogPost::before {
            display: none;
        }

        aside {
            margin-top: 0;
            
            .imgContainer {
                position: static;
                width: 100%;
                margin: 0 auto;
            }
            
            ul {
                text-align: left;
                display: inline-block;
            }
        }

        aside::before {
            display: none;
        }
    }
}

@media (max-width: 700px) {
    .blogPage {

        .blogComment {
            flex-direction: column;
    
            img {
                width: 15%;
                padding-bottom: 20px;
            }
    
            .text {
                padding-left: 0;
                width: 100%;
            }
        }
    }
}

@media (max-width: 575px) {
    .blogPage {

        .blogText {
            box-shadow: none;
            padding: 80px 0 30px 0;
            border-bottom: 6px solid $accent1;
        }

        .commentContainer {
            padding: 0;
        }
    }
}