.gallery {
    background-color: $secondary;
    padding: 80px 0;

    .wrapper {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    .galleryItem {
        width: calc((100% - 30px) / 3);
        margin-right: 15px;
        margin-bottom: 15px;
        min-width: 235px;
    }

    .galleryItem:last-child {
        margin-right: 0;
    }
}