.social {
    
    ul {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    a {
        color: $accent2;
        padding-right: 20px;
    }
    
    i {
        transition: transform $transition;
        
        &:hover {
            transform: scale(1.5);
        }
    }
}

.contactInfo > a {
    @include fontStyle(1.25rem, $primary, 700);
    padding: 15px 0;
    display: inline-block;
}

.contactUs {
    width: 65%;
    background: $secondary;
    padding: 50px;
    box-shadow: -25px 25px 0 -10px $accent1;
    position: relative;
    bottom: 150px;
}

@media (max-width: 1150px) {

    .contactUs {
        width: 100%;
        position: static;
    }

    .social {

        ul {
            justify-content: center;
        }

        a {
            padding: 0 20px;
        }
    }
}

@media (max-width: 850px) {

    .contactUs {
        padding: 30px;
    }
}