.social {
    
    ul {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    a {
        color: $accent2;
        padding-right: 20px;
    }
    
    i {
        transition: transform $transition;
        
        &:hover {
            transform: scale(1.5);
        }
    }
}

.mainFlex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    aside {
        width: 30%;
    }

    .contactInfo > a {
        @include fontStyle(1.25rem, $primary, 700);
        line-height: 3rem;
    }

    .contactUs {
        width: 65%;
        background: $secondary;
        padding: 50px;
        box-shadow: -25px 25px 0 -10px $accent1;
        position: relative;
        bottom: 150px;
    }
    
    .inputs {
        display: flex;
        flex-direction: row;
    }

    .name,
    .email {
        border: none;
        padding: 20px;
        border-bottom: 2px solid $accent2;
        width: calc((100% - 10px) / 2);
        @include fontStyle(1rem, $primary, 300);
    }
    
    .name {
        margin-right: 10px;
    }

    .message, 
    .comment {
        border: 2px solid $accent2;
        width: 100%;
        padding: 20px;
        padding-top: 30px;
        height: 200px;
        margin: 30px 0;
    }

    button {
        @include fontStyle(1rem, $secondary, 700);
        color: $secondary;
        border: none;
        background-color: $accent2;
        padding: 10px 20px;
        line-height: 1.6rem;
        letter-spacing: 1px;
        width: 100%;
        transition: background-color $transition;

        &:hover {
            background-color: $tertiary;
        }
    }
}