img {
    width: 100%;
    display: block;
}

.wrapper {
    width: 80%;
    max-width: 1280px;
    margin: 0 auto;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

body {
    background-color: $background;
}

.button {
    color: $secondary;
    background-color: $accent2;
    padding: 10px 20px;
    text-transform: capitalize;
    display: inline-block;
    margin: 25px 0;
    @include fontStyle(1rem, $secondary, 700);
    line-height: 1.6rem;
    letter-spacing: 1px;
    transition: transform $transition;

    &:hover {
        transform: scale(1.1);
    }
}

