img {
    width: 100%;
    display: block;
}

.wrapper {
    width: 80%;
    max-width: 1280px;
    margin: 0 auto;
}

@media (max-width: 575px) {
    .wrapper {
        width: 90%;
    }
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

body {
    background-color: $background;
}

.button {
    color: $secondary;
    background-color: $accent2;
    border: 2px solid transparent;
    padding: 10px 20px;
    text-transform: capitalize;
    display: inline-block;
    margin-top: 25px;
    @include fontStyle(1rem, $secondary, 700);
    line-height: 1.6rem;
    letter-spacing: 1px;
    transition: transform $transition;

    &:hover {
        transform: scale(1.1);
    }

    &:focus {
        border: 2px dotted $secondary;
    }
}

/* These skip link styles came from the notes, not my head*/
.skipLink { 
    position: absolute;
    display: block;
    padding: 15px;
    border-radius: 10px;
    left: -1000px;
    top: 5px;
    z-index: 999;
    background: $secondary;
    color: $primary;
}

.skipLink:focus {
  right: 15px;
  left: auto;
  top: 15px;
}

// These styles are common to both the Get In Touch and Blog pages

.blogPage,
.contactPage {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    aside {
        width: 30%;
        order: -2;
    }
}

@media (max-width: 1150px) {
    .blogPage,
    .contactPage {
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        padding: 80px 0;
        
        aside {
            order: 0;
            width: 100%;
            text-align: center;
            padding-top: 60px;
        }
    }
}

// These are the forms styles

.inputs {
    display: flex;
    flex-direction: row;
}

.name,
.email {
    padding: 20px;
    border: 2px solid transparent;
    border-bottom: 2px solid $accent2;
    width: calc((100% - 10px) / 2);
    @include fontStyle(1rem, $primary, 300);
    line-height: 1.6rem;
}

.name {
    margin-right: 10px;
}

.message, 
.comment {
    border: 2px solid $accent2;
    @include fontStyle(1rem, $primary, 300);
    width: 100%;
    padding: 20px;
    padding-top: 30px;
    height: 200px;
    margin: 30px 0;
}

.name:focus,
.email:focus,
.message:focus,
.comment:focus {
    border: 2px dotted $accent2; 
}

button {
    @include fontStyle(1rem, $secondary, 700);
    color: $secondary;
    border: none;
    background-color: $accent2;
    border: 2px solid transparent;
    padding: 10px 20px;
    line-height: 1.6rem;
    letter-spacing: 1px;
    width: 100%;
    transition: transform $transition;
    
    &:hover {
        transform: scale(1.1);
    }
    
    &:focus {
        border: 2px dotted $secondary;
    }
}


@media (max-width: 850px) {

    .inputs {
        flex-direction: column;
    }

    .name,
    .email {
        width: 100%;
    }

    .name {
        margin-bottom: 10px;
    }
}