.mainNav {
    padding: 15px 0;
    @include fontStyle(1rem, $secondary, 400);
    
    ul {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    
    li:first-child {
        font-size: 2rem;
        color: $secondary;
    }

    li:not(:first-child) {
        text-transform: uppercase;
    }

    a {
        color: $secondary;
        // padding-right: 30px;
        transition: color $transition;
        display: inline-block;
        padding: 12px 30px 0px 0;

        &:hover {
            color: $accent1;
        }
    }

    .currentPage {
        color: $accent1;
    }
}

.home .mainNav {
    animation: $fade;
}

.contactNav, 
.blogNav {
    background-color: $primary;
}

@media (max-width: 750px) {

    .mainNav {
        
        ul {
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
        }
        
        li:first-child {
            font-size: 1.7rem;
        }
    }

    .blogNav,
    .contactNav {
        background-color: transparent;

        ul {
            background-color: $primary;
            width: 30%;
            min-width: 150px;
            padding: 20px;
        }
    }
}