.founder {
    padding: 80px 0;

    .image {
        width: 32%;
    }

    .image img {
        box-shadow: 15px 15px 0 0 $accent1;
    }

    .wrapper {
        display: flex;
        flex-direction: row;
    }

    .founderInfo {
        width: 60%;
        flex-grow: 1;
        padding-left: 65px;
        display: flex;
        flex-direction: column;
        // justify-content: space-between;
        align-items: flex-start;

        h2 {
            @include fontStyle(2.1rem, $primary, 700);
            letter-spacing: 1px;
        }

        a {
            margin-top: auto;
        }
    }
}

@media (max-width: 1280px) {
    .founder {
        
        .wrapper {
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
        }

        .image {
            width: 60%;
        }

        .founderInfo {
            width: 100%;
            padding: 60px 0 0 0;
            text-align: center;
            align-items: center;

            a {
                margin-top: 25px;
            }
        }
    }
}

@media (max-width: 850px) {
    .founder .image {
        width: 100%;
    }
}