html {
    font-size: 125%;
}

body {
    font-family: $headerFont;
    color: $primary;
}


h1, h2 {
    margin: 0;
    padding: 0;
}

p {
    font-family: $bodyFont;
    @include fontStyle(1rem, $primary, 400);
    line-height: 1.6rem;
    margin: 0;
    padding: 0;
}

// All custom styles can be found in the partial for that particular section