@charset "UTF-8";
/* This setup snippet came from the notes provided */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

/* This visuallyHidden snippet came from the notes provided */
.visuallyHidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden; }

img {
  width: 100%;
  display: block; }

.wrapper {
  width: 80%;
  max-width: 1280px;
  margin: 0 auto; }

ul {
  list-style: none;
  padding: 0;
  margin: 0; }

a {
  text-decoration: none; }

body {
  background-color: #f0efed; }

.button {
  color: white;
  background-color: #0e902d;
  padding: 10px 20px;
  text-transform: capitalize;
  display: inline-block;
  margin-top: 25px;
  font-size: 1rem;
  color: white;
  font-family: 700;
  line-height: 1.6rem;
  letter-spacing: 1px;
  -webkit-transition: -webkit-transform 0.15s ease-in-out;
  transition: -webkit-transform 0.15s ease-in-out;
  -o-transition: transform 0.15s ease-in-out;
  transition: transform 0.15s ease-in-out;
  transition: transform 0.15s ease-in-out, -webkit-transform 0.15s ease-in-out; }
  .button:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1); }

/* These skip link styles came from the notes, not my head*/
.skipLink {
  position: absolute;
  display: block;
  padding: 15px;
  border-radius: 10px;
  left: -1000px;
  top: 5px;
  z-index: 999;
  background: white;
  color: #2c2c2c; }

.skipLink:focus {
  left: 50vw; }

/* These styles are common to both the Get In Touch and Blog pages */
.mainFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .mainFlex aside {
    width: 30%; }

@media (max-width: 1150px) {
  .mainFlex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 80px 0; }
    .mainFlex aside {
      -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
      order: 2;
      width: 100%;
      text-align: center;
      padding-top: 60px; } }

.mainFlex .inputs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row; }

.mainFlex .name,
.mainFlex .email {
  border: none;
  padding: 20px;
  border-bottom: 2px solid #0e902d;
  width: calc((100% - 10px) / 2);
  font-size: 1rem;
  color: #2c2c2c;
  font-family: 300; }

.mainFlex .name {
  margin-right: 10px; }

.mainFlex .message,
.mainFlex .comment {
  border: 2px solid #0e902d;
  width: 100%;
  padding: 20px;
  padding-top: 30px;
  height: 200px;
  margin: 30px 0; }

.mainFlex button {
  font-size: 1rem;
  color: white;
  font-family: 700;
  color: white;
  border: none;
  background-color: #0e902d;
  padding: 10px 20px;
  line-height: 1.6rem;
  letter-spacing: 1px;
  width: 100%;
  -webkit-transition: background-color 0.15s ease-in-out;
  -o-transition: background-color 0.15s ease-in-out;
  transition: background-color 0.15s ease-in-out; }
  .mainFlex button:hover {
    background-color: #074115; }

@media (max-width: 850px) {
  .mainFlex .inputs {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
  .mainFlex .name,
  .mainFlex .email {
    width: 100%; } }

html {
  font-size: 125%; }

body {
  font-family: "Josefin Sans", sans-serif;
  color: #2c2c2c; }

h1, h2 {
  margin: 0;
  padding: 0; }

p {
  font-family: "Roboto", sans-serif;
  line-height: 1.6rem;
  margin: 0;
  padding: 0; }

.mainNav {
  padding: 15px 0;
  font-size: 1rem;
  color: white;
  font-family: 400;
  z-index: 99; }
  .mainNav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .mainNav ul li:first-child {
      font-size: 2rem;
      color: white; }
    .mainNav ul li:not(:first-child) {
      text-transform: uppercase; }
    .mainNav ul a {
      color: white;
      -webkit-transition: color 0.15s ease-in-out;
      -o-transition: color 0.15s ease-in-out;
      transition: color 0.15s ease-in-out;
      display: inline-block;
      padding: 12px 30px 0px 0; }
      .mainNav ul a:hover {
        color: #f8e71c; }
  .mainNav .currentPage {
    color: #f8e71c; }

.hamburger {
  display: none; }

.contactNav,
.blogNav {
  background-color: #2c2c2c; }

@media (max-width: 750px) {
  .mainNav ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start; }
    .mainNav ul li:first-child {
      font-size: 1.7rem; }
  .blogNav,
  .contactNav {
    background-color: transparent; }
    .blogNav ul,
    .contactNav ul {
      background-color: #2c2c2c;
      width: 30%;
      min-width: 150px;
      padding: 20px; } }

header {
  height: 85vh;
  background-size: cover;
  background-position: center center; }
  header .headerFlex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    height: 100%; }

.home {
  background-image: url(../assets/homeHero.jpg);
  position: relative; }
  .home .heroOverlay {
    width: 40%;
    position: absolute;
    right: 0;
    bottom: -5%; }
  .home h1 {
    font-size: 8.3rem;
    color: white;
    font-family: 400;
    display: inline-block;
    z-index: 99;
    margin: auto;
    line-height: 146px;
    padding-left: 20%; }
    .home h1 span {
      color: #f8e71c; }

.contact {
  background-image: url(../assets/contactHero.jpg); }
  .contact h1 {
    font-size: 4rem;
    color: #f8e71c;
    font-family: 700;
    text-transform: capitalize;
    padding-bottom: 20px; }
  .contact .headerFlex {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }

.blog {
  background-image: url(../assets/blogHero.jpg); }
  .blog h1 {
    font-size: 4rem;
    color: #f8e71c;
    font-family: 700;
    padding-bottom: 20px; }
  .blog .headerFlex {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }

@media (max-width: 1050px) {
  .home h1 {
    padding-left: 0;
    text-align: right;
    font-size: 7rem;
    line-height: 123px; } }

@media (max-width: 750px) {
  .home h1 {
    font-size: 5.5rem; }
  .home .heroOverlay {
    display: none; }
  .contact h1,
  .blog h1 {
    text-align: right; } }

@media (max-width: 630px) {
  .home h1 {
    font-size: 4rem;
    line-height: 70px; } }

@media (max-width: 460px) {
  .home h1 {
    font-size: 2.8rem;
    line-height: 50px; }
  .contact h1,
  .blog h1 {
    font-size: 2.8rem; } }

.whatIsPlanted {
  text-align: center;
  padding: 150px 0; }
  .whatIsPlanted h2 {
    font-size: 2.8rem;
    color: #2c2c2c;
    font-family: 700;
    letter-spacing: 1.3px; }

.workshops {
  background-color: white;
  position: relative;
  padding: 80px 0; }
  .workshops .sectionFlex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
  .workshops .image {
    position: absolute;
    width: 45%;
    min-width: 415px;
    max-width: 700px; }
  .workshops .sectionFlex::before {
    content: '';
    display: block;
    width: 45%; }
  .workshops .text {
    width: 45%;
    z-index: 99; }
  .workshops .text1 {
    padding-bottom: 80px; }
  .workshops .text2 {
    padding-top: 90px;
    text-align: right; }
  .workshops .image1 {
    top: -36px;
    left: 0; }
  .workshops .image2 {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
    bottom: -36px;
    right: 0; }
  .workshops .image1 img {
    -webkit-box-shadow: 25px 25px 0 -10px #f8e71c;
    box-shadow: 25px 25px 0 -10px #f8e71c; }
  .workshops .image2 img {
    -webkit-box-shadow: -25px 25px 0 -10px #f8e71c;
    box-shadow: -25px 25px 0 -10px #f8e71c; }
  .workshops h2 {
    font-size: 1.6rem;
    color: #2c2c2c;
    font-family: 700;
    letter-spacing: 1px; }

@media (max-width: 1370px) {
  .workshops .text1 {
    padding-bottom: 40px; }
  .workshops .text2 {
    padding-top: 40px; } }

@media (max-width: 1150px) {
  .workshops .image1 {
    top: 80px; }
  .workshops .image2 {
    bottom: 80px; } }

@media (max-width: 980px) {
  .workshops .sectionFlex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .workshops .sectionFlex::before {
    display: none; }
  .workshops .image {
    position: static;
    min-width: auto;
    width: 100%; }
  .workshops .image2 {
    -webkit-box-ordinal-group: 1;
    -ms-flex-order: 0;
    order: 0; }
  .workshops .text {
    width: 100%;
    padding: 45px 0 35px 0;
    text-align: center; }
  .workshops .text2 {
    padding-bottom: 0; } }

.info .infoContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding-top: 100px; }

.info .infoItem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  width: 50%;
  padding: 0 20px 60px 20px; }

.info .infoText {
  padding-left: 20px; }

.info .infoIcon {
  position: relative; }

.info i {
  font-size: 1.5rem;
  width: 40px;
  text-align: center; }

.info i::after {
  content: '';
  background-color: #f8e71c;
  border-radius: 50%;
  position: absolute;
  top: -10px;
  left: -6px;
  width: 50px;
  height: 50px;
  z-index: -9; }

@media (max-width: 750px) {
  .info .infoContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center; }
  .info .infoItem {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
  .info .infoIcon {
    padding-bottom: 12px; }
  .info i::after {
    top: -10px;
    left: calc(50% - 25px); }
  .info .infoText {
    padding-left: 0; } }

.founder {
  padding: 80px 0; }
  .founder .image {
    width: 30%; }
  .founder .image img {
    -webkit-box-shadow: 15px 15px 0 0 #f8e71c;
    box-shadow: 15px 15px 0 0 #f8e71c; }
  .founder .sectionFlex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
  .founder .founderInfo {
    width: 60%;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    padding-left: 10%; }
    .founder .founderInfo h2 {
      font-size: 2.1rem;
      color: #2c2c2c;
      font-family: 700;
      letter-spacing: 1px; }

@media (max-width: 850px) {
  .founder .sectionFlex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .founder .image {
    width: 60%; }
  .founder .founderInfo {
    width: 100%;
    padding: 60px 0 0 0;
    text-align: center; } }

.gallery {
  background-color: white;
  padding: 80px 0; }
  .gallery .wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
  .gallery .galleryItem {
    width: calc((100% - 30px) / 3);
    margin-right: 15px;
    margin-bottom: 15px; }
  .gallery .galleryItem:last-child {
    margin-right: 0; }

@media (max-width: 850px) {
  .gallery .galleryItem {
    width: calc((100% - 15px) / 2); }
  .gallery .galleryItem:nth-child(2) {
    margin-right: 0; } }

@media (max-width: 520px) {
  .gallery .galleryItem {
    width: 100%;
    margin-right: 0; } }

.blogPage {
  position: relative; }
  .blogPage .mainFlex {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start; }
  .blogPage span {
    font-weight: 700;
    font-style: italic;
    color: #074115; }
  .blogPage aside::before {
    content: '';
    display: block;
    padding-top: 120%; }
  .blogPage aside {
    background-color: white;
    padding: 20px;
    margin-top: 80px;
    position: relative; }
    .blogPage aside .imgContainer {
      position: absolute;
      top: -10px;
      right: 10px;
      width: 140%; }
    .blogPage aside img {
      max-height: 365px; }
  .blogPage h3 {
    font-size: 1.6rem;
    color: #2c2c2c;
    font-family: 700;
    letter-spacing: 1px;
    text-transform: capitalize; }
  .blogPage li {
    padding-left: 8px;
    line-height: 1.6rem; }
  .blogPage li::before {
    content: "•";
    padding-right: 15px;
    color: #0e902d; }
  .blogPage .blogContent {
    width: 65%; }
    .blogPage .blogContent .imgContainer {
      -webkit-box-shadow: -25px 25px 0 -10px #f8e71c;
      box-shadow: -25px 25px 0 -10px #f8e71c;
      position: absolute;
      top: -150px; }
  .blogPage .blogPost::before {
    content: '';
    display: block;
    padding-top: 55%; }
  .blogPage .blogText {
    border-left: 6px solid #f8e71c;
    border-bottom: 6px solid #f8e71c;
    padding: 80px 30px 30px 30px; }
  .blogPage h2 {
    font-size: 2.15rem;
    color: #2c2c2c;
    font-family: 700; }
  .blogPage .byline {
    font-style: italic;
    padding-bottom: 2.5rem;
    color: #074115; }
  .blogPage p {
    padding-bottom: 0.9rem; }
  .blogPage .comments {
    padding-left: 36px; }
  .blogPage .postComment {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .blogPage .postComment img {
      width: 10%;
      height: 100%;
      padding-top: 0.3rem;
      /* this is to account for the line-height of the h4 next to it so if the font size of the h4 changes, so will the padding */ }
    .blogPage .postComment .text {
      width: 85%;
      padding-left: 20px;
      -webkit-box-flex: 1;
      -ms-flex-positive: 1;
      flex-grow: 1; }
    .blogPage .postComment h4 {
      font-size: 1rem;
      color: #074115;
      font-family: 700;
      line-height: 1.6rem;
      padding: 0;
      margin: 0; }
  .blogPage .submitComment {
    padding: 60px 0 80px 0; }
    .blogPage .submitComment input, .blogPage .submitComment textarea {
      background-color: #f0efed; }
    .blogPage .submitComment button {
      text-transform: capitalize; }

@media (max-width: 1150px) {
  .blogPage .blogContent {
    width: 100%; }
    .blogPage .blogContent .imgContainer {
      position: static; }
  .blogPage .blogPost::before {
    display: none; }
  .blogPage .postComment {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
    .blogPage .postComment img {
      width: 30%;
      padding-bottom: 20px; }
    .blogPage .postComment .text {
      padding-left: 0; } }

@media (max-width: 575px) {
  .blogPage .blogText {
    border: none;
    padding: 80px 0 0 0; }
  .blogPage .comments {
    padding: 0; } }

.social ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.social a {
  color: #0e902d;
  padding-right: 20px; }

.social i {
  -webkit-transition: -webkit-transform 0.15s ease-in-out;
  transition: -webkit-transform 0.15s ease-in-out;
  -o-transition: transform 0.15s ease-in-out;
  transition: transform 0.15s ease-in-out;
  transition: transform 0.15s ease-in-out, -webkit-transform 0.15s ease-in-out; }
  .social i:hover {
    -webkit-transform: scale(1.5);
    -ms-transform: scale(1.5);
    transform: scale(1.5); }

.contactInfo > a {
  font-size: 1.25rem;
  color: #2c2c2c;
  font-family: 700;
  line-height: 3rem; }

.contactUs {
  width: 65%;
  background: white;
  padding: 50px;
  -webkit-box-shadow: -25px 25px 0 -10px #f8e71c;
  box-shadow: -25px 25px 0 -10px #f8e71c;
  position: relative;
  bottom: 150px; }

@media (max-width: 1150px) {
  .contactUs {
    width: 100%;
    position: static; }
  .social ul {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
  .social a {
    padding: 0 20px; } }

@media (max-width: 850px) {
  .contactUs {
    padding: 30px; } }

footer {
  background-color: #2c2c2c; }
  footer p {
    margin: 0;
    padding: 10px 0;
    color: white;
    text-align: center; }

/*# sourceMappingURL=style.css.map */