/* This setup snippet came from the notes provided */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

/* This visuallyHidden snippet came from the notes provided */
.visuallyHidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden; }

/* These skip link styles came from the notes, not my head*/
.skipLink {
  position: absolute;
  left: -1000px;
  top: 5px;
  z-index: 999;
  background: white;
  color: black; }

.skipLink:focus {
  left: 50vw; }

img {
  width: 100%;
  display: block; }

.wrapper {
  width: 80%;
  max-width: 1280px;
  margin: 0 auto; }

ul {
  list-style: none;
  padding: 0;
  margin: 0; }

a {
  text-decoration: none; }

body {
  background-color: #f0efed; }

.button {
  color: white;
  background-color: #0e902d;
  padding: 10px 20px;
  text-transform: capitalize;
  display: inline-block;
  margin: 25px 0;
  font-size: 1rem;
  color: white;
  font-family: 700;
  line-height: 1.6rem;
  letter-spacing: 1px;
  -webkit-transition: -webkit-transform 0.15s ease-in-out;
  transition: -webkit-transform 0.15s ease-in-out;
  -o-transition: transform 0.15s ease-in-out;
  transition: transform 0.15s ease-in-out;
  transition: transform 0.15s ease-in-out, -webkit-transform 0.15s ease-in-out; }
  .button:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1); }

html {
  font-size: 125%; }

body {
  font-family: "Josefin Sans", sans-serif;
  color: #2c2c2c; }

h1, h2 {
  margin: 0;
  padding: 0; }

p {
  font-family: "Roboto", sans-serif;
  line-height: 1.6rem;
  margin: 0;
  padding: 0; }

.main {
  padding: 20px 0;
  font-size: 1rem;
  color: white;
  font-family: 400; }
  .main ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .main li:first-child {
    font-size: 2rem;
    color: white; }
  .main li:not(:first-child) {
    text-transform: uppercase; }
  .main a {
    color: white;
    padding: 0 15px;
    -webkit-transition: color 0.15s ease-in-out;
    -o-transition: color 0.15s ease-in-out;
    transition: color 0.15s ease-in-out; }
    .main a:hover {
      color: #f8e71c; }
  .main .hamburger {
    display: none; }
  .main .currentPage {
    color: #f8e71c; }
  @media (max-width: 750px) {
    .main ul {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      text-align: left;
      -webkit-box-pack: start;
      -ms-flex-pack: start;
      justify-content: flex-start;
      -webkit-box-align: start;
      -ms-flex-align: start;
      align-items: flex-start; }
    .main a {
      padding: 10px;
      display: inline-block; } }
  @media (max-width: 500px) {
    .main ul {
      display: none; }
    .main .hamburger {
      display: block;
      color: white;
      font-size: 2rem; } }

header {
  height: 85vh;
  background-size: cover; }
  header .headerFlex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    height: 100%; }

.home {
  background-image: url(../assets/homeHero.jpg);
  position: relative; }
  .home .heroOverlay {
    width: 40%;
    position: absolute;
    right: 0;
    bottom: -5%; }
  .home h1 {
    font-size: 8.3rem;
    color: white;
    font-family: 400;
    display: inline-block;
    z-index: 99;
    padding-left: 20%;
    margin: auto;
    line-height: 146px; }
    .home h1 span {
      color: #f8e71c; }

.contact {
  background-image: url(../assets/contactHero.jpg); }
  .contact h1 {
    font-size: 4rem;
    color: #f8e71c;
    font-family: 700;
    text-transform: capitalize;
    padding-bottom: 20px; }
  .contact .headerFlex {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }

.whatIsPlanted {
  text-align: center;
  padding: 150px 0; }
  .whatIsPlanted h2 {
    font-size: 2.8rem;
    color: #2c2c2c;
    font-family: 700;
    letter-spacing: 1.3px; }

.workshops {
  background-color: white;
  position: relative; }
  .workshops .sectionFlex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
  .workshops .image {
    position: absolute; }
  .workshops .sectionFlex::before {
    content: '';
    display: block;
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%; }
  .workshops .text {
    width: 45%;
    padding: 80px 0;
    z-index: 99; }
  .workshops .image1 {
    top: -36px;
    left: 0; }
  .workshops .image2 {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
    bottom: -36px;
    right: 0; }
  .workshops .text2 {
    text-align: right; }
  .workshops .image1 img {
    -webkit-box-shadow: 25px 25px 0 -10px #f8e71c;
    box-shadow: 25px 25px 0 -10px #f8e71c; }
  .workshops .image2 img {
    -webkit-box-shadow: -25px 25px 0 -10px #f8e71c;
    box-shadow: -25px 25px 0 -10px #f8e71c; }
  .workshops h2 {
    font-size: 1.6rem;
    color: #2c2c2c;
    font-family: 700;
    letter-spacing: 1px; }

.info .infoContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 100px 0; }

.info .infoItem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  width: 50%;
  min-width: 300px;
  padding: 0 20px 60px 20px; }

.info .infoItem:nth-child(3),
.info .infoItem:nth-child(4) {
  padding-bottom: 0; }

.info .infoText {
  padding-left: 20px; }

.info .infoTitle {
  position: relative; }

.info i {
  font-size: 1.5rem;
  width: 40px;
  text-align: center; }

.info i::after {
  content: '';
  background-color: #f8e71c;
  border-radius: 50%;
  position: absolute;
  top: -10px;
  left: -6px;
  width: 50px;
  height: 50px;
  z-index: -9; }

.founder {
  padding: 80px 0; }
  .founder .image img {
    -webkit-box-shadow: 15px 15px 0 0 #f8e71c;
    box-shadow: 15px 15px 0 0 #f8e71c; }
  .founder .sectionFlex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
  .founder .founderInfo {
    width: 60%; }
    .founder .founderInfo h2 {
      font-size: 2.1rem;
      color: #2c2c2c;
      font-family: 700;
      letter-spacing: 1px; }

.gallery {
  background-color: white;
  padding: 80px 0; }
  .gallery .wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
  .gallery .galleryItem {
    width: calc((100% - 30px) / 3);
    margin-right: 15px;
    margin-bottom: 15px;
    min-width: 235px; }
  .gallery .galleryItem:last-child {
    margin-right: 0; }

.social ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.social a {
  color: #0e902d;
  padding-right: 20px; }

.social i {
  -webkit-transition: -webkit-transform 0.15s ease-in-out;
  transition: -webkit-transform 0.15s ease-in-out;
  -o-transition: transform 0.15s ease-in-out;
  transition: transform 0.15s ease-in-out;
  transition: transform 0.15s ease-in-out, -webkit-transform 0.15s ease-in-out; }
  .social i:hover {
    -webkit-transform: scale(1.5);
    -ms-transform: scale(1.5);
    transform: scale(1.5); }

.mainFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .mainFlex .contactInfo {
    width: 30%; }
  .mainFlex .contactInfo > a {
    font-size: 1.25rem;
    color: #2c2c2c;
    font-family: 700;
    line-height: 3rem; }
  .mainFlex .contactUs {
    width: 68%;
    background: white;
    padding: 50px;
    -webkit-box-shadow: -25px 25px 0 -10px #f8e71c;
    box-shadow: -25px 25px 0 -10px #f8e71c;
    position: relative;
    bottom: 150px; }
  .mainFlex .inputs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row; }
  .mainFlex .name,
  .mainFlex .email {
    border: none;
    padding: 20px;
    border-bottom: 2px solid #0e902d;
    width: calc((100% - 10px) / 2);
    font-size: 1rem;
    color: #2c2c2c;
    font-family: 300; }
  .mainFlex .name {
    margin-right: 10px; }
  .mainFlex .message {
    border: 2px solid #0e902d;
    width: 100%;
    padding: 20px;
    height: 200px;
    margin: 10px 0; }
  .mainFlex button {
    font-size: 1rem;
    color: white;
    font-family: 700;
    color: white;
    border: none;
    background-color: #0e902d;
    padding: 10px 20px;
    line-height: 1.6rem;
    letter-spacing: 1px;
    width: 100%;
    -webkit-transition: background-color 0.15s ease-in-out;
    -o-transition: background-color 0.15s ease-in-out;
    transition: background-color 0.15s ease-in-out; }
    .mainFlex button:hover {
      background-color: #074115; }

footer {
  background-color: #2c2c2c; }
  footer p {
    margin: 0;
    padding: 10px 0;
    color: white;
    text-align: center; }

/*# sourceMappingURL=style.css.map */